.page {
  width: 100%;
  min-height: 100vh;
  background-color: #181717;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.page ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page ul li {
  font-size: 1.5rem;
  color: #d1d5db;
}
